---
import AboutIsland from "../islands/AboutIsland";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
  <fragment slot="head">
    <title>关于我 - 个人博客</title>
  </fragment>
  <AboutIsland client:visible />
</BaseLayout>
