---
import TimelineIsland from "../islands/TimelineIsland";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
  <Fragment slot="head">
    <title>我的历程 - 个人博客</title>
  </Fragment>
  <section class="relative py-10 transition-colors duration-300">
    <div class="absolute inset-0 -z-10 bg-gradient-to-b from-transparent to-blue-500/6 dark:to-purple-500/10"></div>
    <TimelineIsland client:visible />
  </section>
</BaseLayout>
